@using KatyDevBlog.Models
@using KatyDevBlog.Services.Interfaces
@inject IImageService _imageService
@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Blog Image")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="img-fluid" src="@_imageService.DecodeImage(item.ImageData, item.ImageType)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-controller="BlogPosts" asp-action="ChildIndex" asp-route-blogId="@item.Id">All Posts</a> |
                    <a asp-controller="BlogPosts" asp-action="Create" asp-route-id="@item.Id">Create BlogPost</a>
                </td>
            </tr>
        }
    </tbody>
</table>
